@model TicketManagement.ViewModels.FacebookPageViewModel

@if (Model == null) { <p>Please check that you are an Admin of the Facebook site</p> }
else
{
    <div class="panel panel-primary">

        <div class="panel-heading">
            <strong><i class="fa fa-facebook-square" title="Page Id: @Model.Id"></i> Page Name: </strong>@Model.Name
            <div style="float: right; font-size: 16px">
                <strong><i class="fa fa-thumbs-o-up fa-lg" title="Likes"></i> </strong>@Model.Likes |
                <strong><i class="fa fa-globe fa-lg" title="Unread Notifications"></i> </strong>@Model.UnreadNotifications  |
                <strong><i class="fa fa-envelope fa-lg" title="Unread Messages"></i> </strong>@Model.UnreadMessages  |
                <strong><i class="fa fa-comment fa-lg" title="People Talking About"></i> </strong>@Model.TalkingCount
            </div>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <strong>Business:</strong> @Model.Business
                </div>
                <div class="col-md-4">
                    <strong>Publicly Visible:</strong> @Model.Published
                </div>
                <div class="col-md-4">
                    <strong>You Can Post:</strong> @Model.CanPost
                </div>
            </div>
        </div>
    </div>
}

@*<p>@Model.NewLikes</p>
    <p>@Model.Category</p>
    <p>@Model.Description</p>
    <p>@Model.UnseenMessages</p>*@