@using TicketManagement.ViewModels
@model IEnumerable<FacebookPagePostViewModel>


@if (Model == null)
{
    <p>Please check that you are an Admin of the Facebook site</p>
}
else
{
    <div>
        @foreach (FacebookPagePostViewModel post in Model)
        {
            if (post.Type == "link")
            {
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <strong>@post.Message (Post Type:</strong> @post.Type <strong>)</strong>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <p>@post.Story</p>
                                <img class="img-thumbnail" src="@post.Image" alt="Facebook Page Linked Image"/>
                                <p title="@post.Description">About: @(post.Description.Length > 150 ? post.Description.Substring(0, 150) : post.Description) ...</p>
                            </div>
                            <div class="col-md-3">
                                <p><a href="@post.Link" target="_blank" title="View the linked item directly on Facebook">View Item on Facebook</a></p>
                            </div>
                            <div class="col-md-3">
                                <p><strong>Created:</strong> @post.Created</p>
                                <p><strong>Updated:</strong> @post.Updated</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else if (post.Type == "status")
            {
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <strong>@post.Message</strong>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <p><strong>Post Type:</strong> Status</p>
                            </div>
                            <div class="col-md-4">
                                <p><strong>Hidden:</strong> @post.Hidden</p>
                                <p><strong>Published:</strong> @post.Published</p>
                            </div>
                            <div class="col-md-4">
                                <p><strong>Created:</strong> @post.Created</p>
                                <p><strong>Updated:</strong> @post.Updated</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else if (post.Type == "photo")
            {
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <strong>@post.Message (Post Type:</strong> @post.Type <strong> Added To:</strong> @post.LinkName <strong>)</strong>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <p><strong>Photo Added</strong> (Click to open fully in Facebook)
                                </p>
                                <a href="@post.Link" target="_blank"><img src="@post.Image" alt="Sample of the photo added to the page"/></a>
                            </div>
                            <div class="col-md-3">
                                <p><strong>Hidden:</strong> @post.Hidden</p>
                                <p><strong>Published:</strong> @post.Published</p>
                            </div>
                            <div class="col-md-3">
                                <p><strong>Created:</strong> @post.Created</p>
                                <p><strong>Updated:</strong> @post.Updated</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else // Generally an 'update/informative' post
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>@post.LinkName:</strong> @post.Story
                        <div style="float: right; font-size: 16px">
                            <strong><i class="fa fa-clock-o fa-lg" title="Time of Post"></i>:</strong> @post.Created
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <img class="img-thumbnail" src="@post.Image" alt="Facebook Page Picture"/>
                            </div>
                            <div class="col-md-4">
                                <p><strong>Hidden:</strong> @post.Hidden</p>
                                <p><strong>Published:</strong> @post.Published</p>
                            </div>
                            <div class="col-md-4">
                                <p><a href="@post.Link" target="_blank" title="View the post directly on Facebook">View on Facebook</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>

    if (ViewBag.ShowGetMorePagePosts != null)
                {
        <input id="fb_posts_next_page_link" type="hidden" value="@ViewBag.ShowGetMorePagePosts" />
    }

    <input id="fb_posts_current_data_count" type="hidden" value="@Model.Count()" />
}
