@model TicketManagement.ViewModels.FacebookProfileSummaryViewModel

<ul class="list-group list-group-item-info">
    <li class="list-group-item">@Model.FirstName @Model.LastName</li>
    <li class="list-group-item">@Model.Email</li>
    <li class="list-group-item">@Model.Location</li>
    <li class="list-group-item">@Model.Locale</li>
    <li class="list-group-item">@Model.Birthday.ToString("dd MMM yy")</li>
    <li class="list-group-item"><a href="@Model.ExternalLink" target="_blank">View Profile</a></li>
</ul>
