@using TicketManagement.Management
@using TicketManagement.ViewModels
@model ErrorViewModel

@{
    ViewBag.Title = Model.Type;

    string textType;

    switch (Model.Type)
    {
        case ErrorType.Info:
            textType = "text-info";
            break;
        case ErrorType.Warning:
            textType = "text-warning";
            break;
        case ErrorType.Error:
            textType = "text-danger";
            break;
        case ErrorType.Exception:
            textType = "text-danger";
            break;
        default:
            textType = "";
            break;
    }
}

<h1 class="@textType">Facebook: @Model.Type</h1>
<h2 class="@textType">An error occurred while processing your request :(</h2>

<h3 class="@textType"> Details: @Model.Message</h3>