@model TicketManagement.Models.Entities.Organisation

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout_Standard.cshtml";
}

<h2>Organisations</h2>
<hr />

<div>
    <h4>Delete</h4>
    <h5>Are you sure you want to delete this?</h5>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsInternal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsInternal)
        </dd>

        <dt>
            Default Contact
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DefaultContact.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdated)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
