@model TicketManagement.Models.Entities.Organisation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_Standard.cshtml";
}

<h2>Organisations</h2>
<hr />

<div>
    <h4>Details</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsInternal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsInternal)
        </dd>

        <dt>
            Default Contact
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DefaultContact.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdated)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
