@model IEnumerable<TicketManagement.Models.Entities.Organisation>

@{
    ViewBag.Title = "Organisations";
    Layout = "~/Views/Shared/_Layout_Standard.cshtml";
}

<h2>Organisations</h2>
<hr/>

<table class="table table-hover table-striped table-responsive">
    <tr>
        <th>Default Contact</th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsInternal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastUpdated)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var organisation in Model)
    {
        <tr>
            @if (organisation.DefaultContact == null)
            {
                <td></td>
            }
            else
            {
                const string fullName = "{organisation.DefaultContact.FirstName} + {organisation.DefaultContact.LastName}";
                <td>@fullName</td>
            }
            <td>
                @Html.DisplayFor(modelItem => organisation.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => organisation.IsInternal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => organisation.LastUpdated)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = organisation.Id}) |
                @Html.ActionLink("Details", "Details", new {id = organisation.Id}) |
                @Html.ActionLink("Delete", "Delete", new {id = organisation.Id})
            </td>
        </tr>
    }
</table>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
</p>


