@model TicketManagement.ViewModels.LoginViewModel
@{
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome - Ticket Managment</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <img src="~/Content/Images/Wallpapers/bg_mountains.jpg" id="bg_image" alt="Mountain Wallpaper">

    <style>
        #bg_image {
            position: fixed;
            top: 0;
            left: 0;
        }

        .bg_image_width {
            width: 100%;
        }

        .bg_image_height {
            height: 100%;
        }
    </style>

    <div class="container body-content">

        @*SIGN UP BUTTON*@
        <div class="row">
            <div class="col-md-2">
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal_SignUp">Sign Up</button>
            </div>
        </div>

        @*REGISTER POPUP AND FORM*@
        @Html.Partial("_RegisterPartial")

        @*LOGIN FORM*@
        <div class="row">
            <div class="col-md-6 col-lg-offset-3">
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Welcome", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h3>Welcome</h3>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Log in" class="btn btn-default" />
                            </div>
                        </div>
                    }
                </section>
            </div>
        </div>

        <p>HELLOOOOOOOOOO</p>
        <hr />
        <footer class="modal-footer">
            <div class="container">
                <p>&copy; @DateTime.Now.Year - Ticket Management</p>
            </div>

        </footer>


    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/Site/Welcome/welcome.js")
</body>
</html>
