@model TicketManagement.Models.RegisterViewModel
@{
    Layout = "";
 }

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome - Ticket Managment</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <img src="~/Content/Images/Wallpapers/bg_mountains.jpg" id="bg_image" alt="Mountain Wallpaper">

    <style>
        #bg_image { position: fixed; top: 0; left: 0; }
        .bg_image_width { width: 100%; }
        .bg_image_height { height: 100%; }
    </style>

    <div class="container body-content" style="background-color: gray;">

        @*SIGN UP BUTTON*@
        <div class="row">
            <div class="col-md-2">
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal_SignUp">Sign Up</button>
            </div>
        </div>

        @*SIGN UP POP-UP (MODAL)*@
        <div id="modal_SignUp" class="modal fade" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Sign Up</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-10 col-lg-offset-2">
                                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary("", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                        </div>
                                    </div>
                                   }
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Register" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-lg-4">
                
            </div>
        </div>





        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Ticket Management</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/Site/Welcome/welcome.js")
</body>
</html>
