@using TicketManagement.Models.Management
@model TicketManagement.ViewModels.NewTicketLogViewModel

@Styles.Render("~/bundles/bootstrap_toggle_css")

<div class="panel panel-success">
    <div class="panel-heading">
        <strong>New Response</strong>
        <div style="float: right">
        </div>
    </div>
    <div class="panel-body">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#message_tab" aria-controls="message_tab" role="tab" data-toggle="tab">Message</a></li>
            <li role="presentation"><a href="#file_tab" aria-controls="file_tab" role="tab" data-toggle="tab">File</a></li>
        </ul>

        <div class="tab-content">

            @* MESSAGE TAB SECTION *@
            <div role="tabpanel" class="tab-pane active" id="message_tab">

                @using (Html.BeginForm("NewTicketLogMessage", "Tickets"))
                {
                    <br />
                    <textarea id="message" name="Message" class="form-control" style="max-width: 100%; height: 200px"></textarea>
                    @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                    <br />

                    @Html.HiddenFor(model => model.TicketId)

                    <div style="float: right">
                        <input id="IsInternal" name="IsInternal" value="false" class="check-box" type="checkbox" data-toggle="toggle" data-size="mini" data-onstyle="danger" data-on="External" data-off="Internal">
                        <input name="IsInternal" type="hidden" value="true" />
                        <input id="btn-message-send" type="submit" value="Send" class="btn btn-xs btn-warning" disabled="disabled" />
                    </div>
                }
            </div>

            @* FILE TAB SECTION *@
            <div role="tabpanel" class="tab-pane active" id="file_tab">

                @using (Html.BeginForm("NewTicketLogFile", "Tickets", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <br/>
                    <strong>Select File: </strong>
                    <input type="file" id="upload" name="upload" />
                    <br />

                    @Html.HiddenFor(model => model.TicketId)

                    <div style="float: right">
                        <input id="IsInternal" name="IsInternal" value="false" class="check-box" type="checkbox" data-toggle="toggle" data-size="mini" data-onstyle="danger" data-on="External" data-off="Internal">
                        <input name="IsInternal" type="hidden" value="true" />
                        <input id="btn-message-upload" type="submit" value="Upload" class="btn btn-xs btn-warning" disabled="disabled" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/bootstrap_toggle_js")
@Scripts.Render("/Scripts/Site/Ticket/ticket.js")