@using Microsoft.AspNet.Identity
@using TicketManagement.Models.Entities
@model TicketManagement.Models.Entities.Ticket

@Styles.Render("~/bundles/bootstrap_datepicker_css")

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.LastMessage)
    @Html.HiddenFor(model => model.LastResponse)
    @Html.HiddenFor(model => model.OpenedBy)
    @Html.HiddenFor(model => model.OpenedById, new {@Value = User.Identity.GetUserId()})

    <div class="form-horizontal">
        <h4>Ticket</h4>
        <hr/>
        @Html.ValidationSummary(false, "", new {@class = "text-danger"})
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new {@class = "control-label col-md-4"})
            <div class="col-md-6">
                @Html.EditorFor(model => model.Title, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Title, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new {@class = "control-label col-md-4"})
            <div class="col-md-6">
                @Html.EditorFor(model => model.Description, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TicketPriorityId, "Ticket Priority", htmlAttributes: new {@class = "control-label col-md-4"})
            <div class="col-md-6">
                @Html.DropDownList("TicketPriorityId", null, htmlAttributes: new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.TicketPriorityId, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TeamAssignedToId, "Team Assigned To", htmlAttributes: new {@class = "control-label col-md-4"})
            <div class="col-md-6">
                @Html.DropDownList("TeamAssignedToId", null, htmlAttributes: new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.TeamAssignedToId, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrganisationAssignedToId, "Organisation Assigned To", htmlAttributes: new {@class = "control-label col-md-4"})
            <div class="col-md-6">
                @Html.DropDownList("OrganisationAssignedToId", null, htmlAttributes: new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.OrganisationAssignedToId, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TicketStateId, "Ticket State", htmlAttributes: new {@class = "control-label col-md-4"})
            <div class="col-md-6">
                @Html.DropDownList("TicketStateId", null, htmlAttributes: new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.TicketStateId, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProjectId, "Project", htmlAttributes: new {@class = "control-label col-md-4"})
            <div class="col-md-6">
                @Html.DropDownList("ProjectId", null, htmlAttributes: new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.ProjectId, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TicketCategoryId, "Ticket Category", htmlAttributes: new {@class = "control-label col-md-4"})
            <div class="col-md-6">
                @Html.DropDownList("TicketCategoryId", null, htmlAttributes: new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.TicketCategoryId, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Deadline, htmlAttributes: new {@class = "control-label col-md-4"})
            <div class="col-md-6">
                <input name="deadlineString" type="text" class="form-control datepicker" placeholder = "Click for datepicker"/>
                @Html.ValidationMessageFor(model => model.Deadline, "", new {@class = "text-danger"})
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.Deadline, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-6">
                <input id="datepicker_deadline" data-provide="datepicker" type="text" class="form-control">
                <input data-val="true" id="deadline_value" name="LastMessage" type="hidden" value="" />
                @Html.ValidationMessageFor(model => model.Deadline, "", new { @class = "text-danger" })
            </div>
        </div>*@



        <div class="form-group">
            <div class="col-md-offset-4 col-md-6">
                <input type="submit" value="Create" class="btn btn-success"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap_datepicker_js")
    @Scripts.Render("~/Scripts/Site/Ticket/ticket.js")
}
