@model TicketManagement.Models.Entities.Ticket

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OpenedBy.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpenedBy.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganisationAssignedTo.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganisationAssignedTo.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeamAssignedTo.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamAssignedTo.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketCategory.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketCategory.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketPriority.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketPriority.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketState.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketState.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserAssignedTo.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserAssignedTo.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deadline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastMessage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastMessage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastResponse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastResponse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdated)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
