@model IEnumerable<TicketManagement.Models.Entities.Ticket>

@{
    ViewBag.Title = "Tickets";
    Layout = "~/Views/Shared/_Layout_Standard.cshtml";
}

@Styles.Render("~/Content/Styles/Site/Tickets/tickets.css")

<h2>Tickets</h2>
<hr/>

<table class="table table-hover table-striped table-responsive">
    <tr>
        <th> Id </th>
        <th> Category </th>
        <th> Priority </th>
        <th> @Html.DisplayNameFor(model => model.Title) </th>
        <th> Team </th>
        <th> Organisation </th>
        <th> State </th>
        <th> More </th>
        <th> </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td> @Html.DisplayFor(modelItem => item.Id) </td>
            <td> @Html.DisplayFor(modelItem => item.TicketCategory.Name) </td>
            <td> @Html.DisplayFor(modelItem => item.TicketPriority.Name) </td>
            <td> @Html.DisplayFor(modelItem => item.Title) </td>
            <td> @Html.DisplayFor(modelItem => item.TeamAssignedTo.Name) </td>
            <td> @Html.DisplayFor(modelItem => item.OrganisationAssignedTo.Name) </td>
            <td> @Html.DisplayFor(modelItem => item.TicketState.Name) </td>
            <td>
                <a data-toggle="popover" data-placement="left"
                   title="@Html.DisplayFor(modelItem => item.Title)" data-content-target="#popover_content"><i class="fa fa-question" style="font-size: 20px;"></i></a>

                <div class="popover" id="popover_content">
                    <table class="table">
                        <tr>
                            <th> Opened By </th>
                            <th> Assigned To </th>
                            <th> Project </th>
                            <th> @Html.DisplayNameFor(model => model.Description) </th>
                            <th> @Html.DisplayNameFor(model => model.Deadline) </th>
                            <th> @Html.DisplayNameFor(model => model.LastMessage) </th>
                            <th> @Html.DisplayNameFor(model => model.LastResponse) </th>
                            <th> @Html.DisplayNameFor(model => model.LastUpdated) </th>
                        </tr>
                        <tr>
                            <td> @Html.DisplayFor(modelItem => item.OpenedBy.FullName) </td>
                            <td> @Html.DisplayFor(modelItem => item.UserExtraAssignedTo.FullName) </td>
                            <td> @Html.DisplayFor(modelItem => item.Project.Name) </td>
                            <td> @Html.DisplayFor(modelItem => item.Description) </td>
                            <td> @Html.DisplayFor(modelItem => item.Deadline) </td>
                            <td> @Html.DisplayFor(modelItem => item.LastMessage) </td>
                            <td> @Html.DisplayFor(modelItem => item.LastResponse) </td>
                            <td> @Html.DisplayFor(modelItem => item.LastUpdated) </td>
                        </tr>
                    </table>
                </div>
            </td>
            <td>
                <a href="@Url.Action("Edit", new {id = item.Id})"><i class="fa fa-pencil"></i></a> |
                <a href="@Url.Action("Details", new {id = item.Id})"><i class="fa fa-info-circle"></i></a> |
                <a href="@Url.Action("Delete", new {id = item.Id})"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
</p>

@Scripts.Render("/Scripts/Site/Tickets/tickets.js")