@using Microsoft.AspNet.Identity
@using TicketManagement.Helpers
@using TicketManagement.Models.Entities
@using TicketManagement.ViewModels
@model TicketViewModel

@{
    ViewBag.Title = "Ticket";
    string panelColour = "panel-";
}

@if (Request.Params["ViewMessage"] == "TicketMessageAdded")
{
    <div class="alert alert-success alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <b>Success</b> Your message has been sent.
    </div>
}

@if (Request.Params["ViewMessage"] == "TicketMessagenotAdded")
{
    <div class="alert alert-danger alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <b>Error</b> Your message could not be sent.
    </div>
}

@switch (Request.Params["PanelType"])
{
    case "danger":
        panelColour += "danger";
        break;
    case "success":
        panelColour += "success";
        break;
    case "info":
        panelColour += "info";
        break;
    case "default":
        panelColour += "default";
        break;
    case "warning":
    default:
        panelColour += "warning";
        break;
}

<h2>Tickets</h2>
<hr />

<div class="panel @panelColour">
    <div class="panel-body">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <strong>@Html.DisplayNameFor(model => model.Ticket.Title): </strong>
                    @Html.DisplayFor(model => model.Ticket.Title)
                </div>
                <div class="col-md-3">
                    <strong>State: </strong>
                    @Html.DisplayFor(model => model.Ticket.TicketState.Name)
                </div>
                <div class="col-md-3">
                    <strong>@Html.DisplayNameFor(model => model.Ticket.Created): </strong>
                    @Html.DisplayFor(model => model.Ticket.Created)
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <strong>@Html.DisplayNameFor(model => model.Ticket.Description): </strong>
                    @Html.DisplayFor(model => model.Ticket.Description)
                </div>
                <div class="col-md-3">
                    <strong>Priority: </strong>
                    @Html.DisplayFor(model => model.Ticket.TicketPriority.Name)
                </div>
                <div class="col-md-3">
                    <strong>Opened By: </strong>
                    @Html.DisplayFor(model => model.Ticket.OpenedBy.FullName)
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <strong>Project: </strong>
                    @Html.DisplayFor(model => model.Ticket.Project.Name)
                </div>
                <div class="col-md-3">
                    <strong>Assigned to: </strong>
                    @Html.DisplayFor(model => model.Ticket.UserAssignedTo.FullName)
                </div>
                <div class="col-md-3">
                    <strong>Category: </strong>
                    @Html.DisplayFor(model => model.Ticket.TicketCategory.Name)
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <strong>Organisation: </strong>
                    @Html.DisplayFor(model => model.Ticket.OrganisationAssignedTo.Name)
                </div>
                <div class="col-md-3">
                    <strong>Team: </strong>
                    @Html.DisplayFor(model => model.Ticket.TeamAssignedTo.Name)
                </div>
                <div class="col-md-3">
                    <strong>Deadline: </strong>
                    @Html.DisplayFor(model => model.Ticket.Deadline)
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <strong>Last Response: </strong>
                    @Html.DisplayFor(model => model.Ticket.LastResponse)
                </div>
                <div class="col-md-6">
                    <strong>Last Message: </strong>
                    @Html.DisplayFor(model => model.Ticket.LastMessage)
                </div>
            </div>
        </div>
    </div>
</div>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

@foreach (TicketLog ticketLog in Model.TicketLogs)
{
    <div class="panel panel-@(ticketLog.IsInternal ? "default" : (ticketLog.TicketLogType == TicketLogType.MessageFromInternalUser) ? "success" : "primary")">

        <div class="panel-heading">
            <strong>Message @(ticketLog.File != null ? $"with File - ({@ticketLog.File.FileType})" : "")</strong>
            <div style="float: right">
                <strong>@(ticketLog.SubmittedByUserId == User.Identity.GetUserId() ? " (You)" : "")</strong>
                @ticketLog.SubmittedByUser.FullName @@ @ticketLog.TimeOfLog
            </div>
        </div>

        <div class="panel-body">
            <p>@ticketLog.Message</p>
            @if (ticketLog.File != null)
                { <strong>Attached file: </strong> <a href="~/File?id=@ticketLog.File.Id" target="blank">@ticketLog.File.FileName</a> }
        </div>
    </div>
}

@Html.Partial("_Partial_NewTicketLog", new NewTicketLogViewModel { TicketId = Model.Ticket.Id })
