@model Dictionary<char, int>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Standard.cshtml";
}

@Styles.Render("~/bundles/bootstrap_toggle_css")

@if (Request.Params["ViewMessage"] == "DataPopulated")
{
    <div class="alert alert-success alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <b>Success</b> The data has been populated.
    </div>
}

<h2>Admin Panel</h2>
<hr />

<div class="container">
    <div class="row">
        <h3>Edit Groups</h3>
        <div class="col-md-6">
            <ul class="list-group">

                @foreach (var kvp in Model.Where(kvp => char.IsLetter(kvp.Key)))
                {
                    <li class="list-group-item">

                        <span class="badge badge-important">@kvp.Value</span>

                        @switch (kvp.Key)
                        {
                            case 'o':
                                @Html.ActionLink("Organisations", "Index", "Organisations", null, new { @class = "btn btn-default" })
                                break;
                            case 'u':
                                @Html.ActionLink("Users", "Users", "Admin", null, new { @class = "btn btn-default" })
                                break;
                            case 'p':
                                @Html.ActionLink("Projects", "Index", "Projects", null, new { @class = "btn btn-default" })
                                break;
                            case 'm':
                                @Html.ActionLink("Teams", "Index", "Teams", null, new { @class = "btn btn-default" })
                                break;
                            case 't':
                                @Html.ActionLink("*Tickets", "Index", "Admin", null, new { @class = "btn btn-default" })
                                break;
                            case 'g':
                                @Html.ActionLink("Ticket Categories", "Index", "TicketCategories", null, new { @class = "btn btn-default" })
                                break;
                            case 'l':
                                @Html.ActionLink("*Ticket Logs", "Index", "Admin", null, new { @class = "btn btn-default" })
                                break;
                            case 'i':
                                @Html.ActionLink("Ticket Priorities", "Index", "TicketPriorities", null, new { @class = "btn btn-default" })
                                break;
                            case 'e':
                                @Html.ActionLink("Ticket States", "Index", "TicketStates", null, new { @class = "btn btn-default" })
                                break;
                        }

                    </li>
                }

            </ul>
        </div>
    </div>

    <div class="row">
        <h3>Add Demo Data</h3>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-3 col-md-offset-3">
                        <input id="cb-enable-populate-data" value="false" class="check-box" type="checkbox" data-toggle="toggle" data-size="mini" data-onstyle="danger" data-on="Enabled" data-off="Disabled">
                    </div>
                    <div class="col-md-3">
                        @using (Html.BeginForm("PopulateData", "Admin"))
                        {
                            <input id="btn-populate-data" type="submit" value="Populate" class="btn btn-xs btn-danger" disabled="disabled" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <h3>View Loaded Configuration</h3>
        <div class="col-md-6">
            <table class="table">
                <tr>
                    <th>Configuration</th>
                    <th>Value</th>
                </tr>

                @foreach (var kvp in Model.Where(kvp => char.IsDigit(kvp.Key)))
                {
                    <tr>
                        @switch (kvp.Key)
                        {
                            case '1':
                                {
                                    <td>Green Time Span</td>
                                }
                                break;
                            case '2':
                                {
                                    <td>Amber Time Span</td>
                                }
                                break;
                            case '3':
                                {
                                    <td>Red Time Span</td>
                                }
                                break;
                        }

                        <td>@kvp.Value Hours</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>

@Scripts.Render("~/Scripts/Site/Admin/admin.js")
@Scripts.Render("~/bundles/bootstrap_toggle_js")
