@using Microsoft.AspNet.Identity
@using TicketManagement.Models.Management
@model   Dictionary<TicketManagement.Models.Entities.User, IList<string>>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout_Standard.cshtml";
    const string isChecked = "checked=checked";
}

@Styles.Render("~/Content/Custom/Shared/table_popover.css")

@if (Request.Params["ViewMessage"] == "ProfileUpdated")
{
    <div class="alert alert-success alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <b>Success</b> The user profile for @ViewBag.UserProfile has been updated.
    </div>
}

<h2>Admin Panel</h2>
<hr/>

<h4>Users</h4>
<hr />

<table class="table table-hover table-striped table-responsive">
    <tr>
        <th> Name </th>
        <th> UserName </th>
        <th> Email </th>
        <th> Team </th>
        <th> Archived </th>
        <th> Roles </th>
        <th> Actions </th>
    </tr>

    @foreach (var userRoles in Model)
    {
        @Html.HiddenFor(modelItem => userRoles.Key.Id)
        string rowColour = string.Empty;
        if (userRoles.Key.Id == User.Identity.GetUserId()) { rowColour = "class=warning"; }

        <tr @rowColour>
            <td> @Html.DisplayFor(modelItem => userRoles.Key.FullName) </td>
            <td> @Html.DisplayFor(modelItem => userRoles.Key.UserName) </td>
            <td> @Html.DisplayFor(modelItem => userRoles.Key.Email) </td>
            @if (userRoles.Key.Team == null)
                { <td>--</td> }
            else
                { <td> @Html.DisplayFor(modelItem => userRoles.Key.Team.Name) </td> }

            <td> @Html.DisplayFor(modelItem => userRoles.Key.IsArchived) </td>

            <td>
                <a data-toggle="popover" data-placement="left" @*Linked with Shared/table_popover.js, sets the data-content to the div below, ammends the item.id to the id, to differentiate the links.*@
                   title="Roles for @Html.DisplayFor(modelItem => userRoles.Key.FullName)" data-content-target="#popover_content_@Html.DisplayFor(modelItem => userRoles.Key.Id)"><i class="fa fa-users" style="font-size: 20px;"></i></a>

                <div class="popover" id="popover_content_@Html.DisplayFor(modelItem => userRoles.Key.Id)">
                    <table class="table">
                        <tr>
                            <th> Team Leader </th>
                            <th> Approved </th>
                            <th> Internal </th>
                            <th> Admin </th>
                            <th> Text Message </th>
                            <th> Social </th>
                        </tr>
                        <tr>
                            <td> @Html.DisplayFor(modelItem => userRoles.Key.IsTeamLeader) </td>
                            <td><input class="checkbox" disabled="disabled" type="checkbox" @(userRoles.Value.Contains(MyRoles.Approved) ? isChecked : "")></td>
                            <td><input class="checkbox" disabled="disabled" type="checkbox" @(userRoles.Value.Contains(MyRoles.Internal) ? isChecked : "")></td>
                            <td><input class="checkbox" disabled="disabled" type="checkbox" @(userRoles.Value.Contains(MyRoles.Administrator) ? isChecked : "")></td>
                            <td><input class="checkbox" disabled="disabled" type="checkbox" @(userRoles.Value.Contains(MyRoles.TextMessage) ? isChecked : "")></td>
                            <td><input class="checkbox" disabled="disabled" type="checkbox" @(userRoles.Value.Contains(MyRoles.Social) ? isChecked : "")></td>
                        </tr>
                    </table>
                </div>
            </td>
            <td>
                <a href="@Url.Action("UserEdit", new {id = userRoles.Key.Id})"><i class="fa fa-pencil"></i></a> |
                <a href="@Url.Action("Delete", new {id = userRoles.Key.Id})"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Create", "Create", null, new { @class = "btn btn-default disabled" })
</p>

@Scripts.Render("/Scripts/Site/Shared/table_popover.js")