<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ticket Managment</title>
    <link rel="icon" href="@Url.Content("~/Content/Favicon/favicon.ico")"/>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/Styles/Layout/layout.css")

</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-default" role="navigation">
        <div class="container">
            @Html.ActionLink("Ticket Management", "Index", "Home", new { area = "" }, new { @class = "navbar-brand navbar-center" })
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-standard-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar-standard-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="@Url.Action("Index", "Admin")" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cogs"></i><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index", "Admin")">Admin Panel</a></li>
                            <li role="separator" class="divider"></li>

                            <li class="dropdown-header">Notifications</li>
                            <li><a href="#">Pending Approvals</a></li>
                            <li role="separator" class="divider"></li>

                            <li class="dropdown-header">Manage Groups</li>
                            <li><a href="@Url.Action("Index", "Organisations")">Organisations</a></li>
                            <li><a href="@Url.Action("Users", "Admin")">Users</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">Teams</a></li>
                            <li><a href="#">Tickets</a></li>
                            <li><a href="#">Ticket Categories</a></li>
                            <li><a href="#">Ticket Logs</a></li>
                            <li><a href="#">Ticket Log Types</a></li>
                            <li><a href="#">Ticket Priorities</a></li>
                            <li><a href="#">Ticket States</a></li>
                        </ul>
                    </li>
                    <li><a href="@Url.Action("About", "Home")"><i class="fa fa-info"></i></a></li>
                    <li><a href="@Url.Action("Contact", "Home")"><i class="fa fa-phone"></i></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-left">
                    @Html.Partial("_Partial_User")
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()


    </div>

    <footer style="position: fixed; bottom: 0; width: 100%; height: 35px; background-color: #fff">
        <hr style="margin: 5px 0 5px 0;"/>
        <p style="text-align: center">&copy; @DateTime.Now.Year - Ticket Management</p>
        <p style="text-align: right">test</p>

    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
