<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ticket Managment</title>
    <link rel="icon" href="@Url.Content("~/Content/Favicon/favicon.ico")" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Custom/Layouts/layout.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-default" role="navigation">
        <div class="container">
            @Html.ActionLink("Ticket Management", "Index", "Tickets", new { area = "" }, new { @class = "navbar-brand navbar-center" })
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-standard-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar-standard-collapse">
                <ul class="nav navbar-nav navbar-right">
                    @Html.Action("_Partial_Notifications", "Notification")
                    <li><a href="@Url.Action("About", "Home")"><i class="fa fa-info" style="color: #B3B3B3"></i></a></li>
                    <li><a href="@Url.Action("Contact", "Home")"><i class="fa fa-phone" style="color: #B3B3B3"></i></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-left">
                    @Html.Partial("_Partial_User")
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>

    <footer style="position: fixed; bottom: 0; width: 100%; height: 35px; background-color: #fff">
        <hr style="margin: 5px 0 5px 0;" />
        <p style="text-align: center">&copy; @DateTime.Now.Year - Ticket Management</p>
    </footer>

    @RenderSection("scripts", required: false)

</body>
</html>
