@{ Layout = ""; }

<!DOCTYPE html>
<html class="html-welcome">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome - Ticket Management</title>
    <link rel="icon" href="@Url.Content("~/Content/Favicon/favicon.ico")" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/Custom/Layouts/layout.css")

</head>
<body class="body-welcome">

    <nav class="navbar navbar-default navbar-fixed-bottom navbar-welcome" role="navigation">
        <div class="container">
            @Html.ActionLink("Ticket Management", "Index", "Home", new { area = "" }, new { @class = "navbar-brand navbar-center" })
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-welcome-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar-welcome-collapse">
                
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("ABOUT", "About", "Home")</li>
                    <li>@Html.ActionLink("CONTACT", "Contact", "Home")</li>
                </ul>

                @using (Html.BeginForm("LogOff", "Home", FormMethod.Post, new {id = "logoutForm_Welcome",}))
                {
                    @Html.AntiForgeryToken()
                    <ul class="nav navbar-nav navbar-left">

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li><a href="javascript:document.getElementById('logoutForm_Welcome').submit()">SIGN OUT: @User.Identity.Name.ToUpper()</a></li>
                            <li>@Html.ActionLink("TICKETS ", "Index", "Tickets")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("REGISTER/LOGIN", "Index", "Home")</li>
                        }

                    </ul>
                }
            </div>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")

</body>
</html>
