@using Microsoft.AspNet.Identity
@using TicketManagement.Management
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Home", FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav">
            <li>
                @Html.ActionLink($"Hi {User.Identity.GetUserName()}", "Index", "User", routeValues: null, htmlAttributes: new {title = "Manage Your Profile"})
            </li>
            @if (User.IsInRole(MyRoles.TextMessage))
            {
                <li><a href="@Url.Action("Index", "TextMessage")" title="Text Message Management"><i class="fa fa-mobile"></i></a></li>
            }
            @if (User.IsInRole(MyRoles.Social))
            {
                <li><a href="@Url.Action("Index", "Twitter")" title="Facebook Management"><i class="fa fa-twitter" style="color: #55ACEE;"></i></a></li>
                <li><a href="@Url.Action("Index", "Facebook")" title="Twitter Management"><i class="fa fa-facebook-square" style="color: #3b5998;"></i></a></li>
            }
            <li><a href="javascript:document.getElementById('logoutForm').submit()" title="Log out"><i class="fa fa-sign-out"></i></a></li>
        </ul>
    }
}
