@model IEnumerable<TicketManagement.Models.Entities.TextMessage>
@using TicketManagement
@using TicketManagement.Helpers

@{
    ViewBag.Title = "Text Messages";
    Layout = "~/Views/Shared/_Layout_Standard.cshtml";
}

@{
    TextMessageHelper txtManager = new TextMessageHelper();
}

<h2>Text Message Management</h2>
<hr/>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-default btn-lg disabled" type="button">
                Balance <span class="badge">@txtManager.CheckBalance()</span>
            </button>
            <hr/>
            <p>
                @Html.ActionLink("New Message", "Send", null, new { @class = "btn btn-success" })
            </p>
        </div>
        <div class="col-md-10">
            <table class="table table-hover table-striped table-responsive">
                <tr>
                    <th>Recipient</th>
                    <th>
                        @Html.DisplayNameFor(model => model.Message)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sent)
                    </th>
                </tr>

                @foreach (var text in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => text.ApplicationUserTo.UserExtra.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => text.Message)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => text.Sent)
                        </td>
                    </tr>
                }
            </table>

        </div>
    </div>
</div>

